* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

header >.container,
footer >.container {
    max-width: auto;
    width: 100%;
    margin: 0 auto;
    background-color: blueviolet;
    padding: 16px 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(226, 43, 171);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

section {
    background-color: rgb(148, 60, 231);
    padding: 48px 0;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: flex;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

form >.container {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

.form-campo input {
    width: 300px; /* Definindo uma largura fixa para os campos de entrada */
    padding: 12px;
    box-sizing: border-box; /* Garante que o padding nÃ£o afete a largura total */
}

form > .container {
    max-width: 360px;
    margin: 0 auto; /* Centraliza o formulÃ¡rio dentro do contÃªiner */
}

form button {
    max-width: 120px;
    margin: 0 auto; /* Centraliza o botÃ£o de envio dentro do contÃªiner */
}

section#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mensagem-sucesso {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}